nav {
    background: white;
    color: grey;
    z-index: 10;
    -webkit-box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.75);
}

a {
    font-family: 'Amatic SC', cursive;
    color: #777;
    cursor: default;
}