$gradient-color-start: #360033;
$gradient-color-end: #0b8793;

$linear-gradient: linear-gradient(to bottom right,$gradient-color-start,$gradient-color-end) !important;
$linear-gradient-opacity: 0.25;

canvas {
    margin: 0 auto;
    height: 512px;
    width: 512px;
    letter-spacing: 0.1em;
    border-color: #777;
    border-style: dashed;
    border-width: 1px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: white;

}

.draw-image-component-container {
    background-color: rgb(29, 29, 29);
    padding-top: 25px;
    padding-bottom: 75px;
    z-index: 0;
    opacity: 1;
    color: white;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../../../assets/background-image.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        opacity: 0.2;
        z-index: -2;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: $linear-gradient;
        opacity: $linear-gradient-opacity;
        z-index: -1;
    }
}

.draw-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Amatic SC', cursive;
}

.left-controls-container {
    float: right;
    height: 512px;
}

.items-container {
    text-align: center;
    position: relative;
    top: 25%;
    width: 100%;
    height: 100%;
    vertical-align: center;
}

.item {
    display: block;
    width: 150px !important;
    margin: auto;
    margin-bottom: 50px;
}

.history-item {
    background: white;
    border-color: #777;
    border-style: dashed;
    border-width: 1px;
}

.painted-history-container {
    
    background: #fefefe;
    height: 512px;
    width: 200px;
    border-radius: 30px 0px 0px 30px;
    -webkit-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    h5 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.neural-network-result-container {
    height: 100px;;
}

.tracking-in-expand-fwd{animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both}
/* ----------------------------------------------
 * Generated by Animista on 2019-4-19 13:28:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}

 .lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  

.loader-icon{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;

    .center-loader {
        position: fixed;
        top: 40%;
        width: 100%;
        height: 100%;
    }

    p{
        position: fixed;
        opacity: 1;
        width: 100%;
        color: white;
    }
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  