<div #container class="draw-image-component-container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align draw-header">Draw a number!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="left-controls-container">
                <div>
                    <a class="waves-effect waves-light btn item center-align" (mousedown)="_trainNeuralNetwork($event)"><i class="material-icons right">backup</i>Train</a>
                    <a class="waves-effect waves-light btn item center-align" (mousedown)="_sendImage($event)" ><i class="material-icons right">play_arrow</i>Query</a>
                    <a class="waves-effect waves-light btn red darken-1 item center-align" (mousedown)="_clearCanvas($event)" ><i class="material-icons right">delete</i>Clear</a>            
                </div>
            </div>
        </div>
        <div class="col s4">
            <div>
                <canvas #canvas width="28" height="28"
                    (mouseup)="_onMouseUp($event)" 
                    (mousedown)="_onMouseDown($event)" 
                    (mousemove)="_onMouseMove($event)" >
                    Canvas not supported on user's browser.
                </canvas>
            </div>
        </div>
        <div class="col s4">
          
                <h6>Previously Painted</h6>
                <div *ngFor="let historyItem of paintedHistory">
                        <img width="91" height="91"s src="{{historyItem}}" class="history-item">
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 neural-network-result-container">
                <div class="center-align">
                    <h4 *ngIf="predictionFetched == true" class="tracking-in-expand-fwd">Neural network predicts the number is {{predictionResult}}</h4>
                    <div *ngIf="predictionFetching == true">
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="lds-ripple"><div></div><div></div></div>
                        </div>
                        <div class="row">
                            <small>Loading...</small>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div *ngIf="trainingNeuralNetwork == true" class="loader-icon valign-wrapper center-align" >
    <div class="center-loader">
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <p class="center-align">This might take awhile...</p>
</div>
